@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url("buttons.css");
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  height: 100%;
}
main{
  margin-top: 50px;
}

#showcase {
  background:
  linear-gradient(to bottom,rgba(252, 153, 124, 0.2),rgba(250, 81, 30, 0.2)), 
  url("../img/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 80vh;
  position:relative;
  
}

#showcase .content{
  color: #fff;
  font-size: 30px;
  background: rgba(46, 76, 109, 0.3);
  padding: 20px;
  width: 60%;
  border-radius: 10px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1{
  position: absolute;
  top: 50%;
  margin: 0;
  color: #fff;
  font-size: 45px;
  left: 50%;
  transform: translate(-50%, -50px);
}

.main-header {
  background-color: #fc997c;
  padding: 13px 16px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  
}
.main-nav {
  display: inline-block;
  width: calc(100% - 106px);
  text-align: right;
  font-family: "Roboto Condensed", sans-serif;
  
}
.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  
}
.main-nav__item {
  display: inline-block;
  margin: 0px 8px;
  
}
.main-header__logo {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
}
.main-nav__item a {
  text-decoration: none;
  color: white;
}
.main-nav__item a:hover,
.main-nav__item:hover::before {
  color: #2e4c6d;
}

.main-nav__item:active::before,
.main-nav__item a:active {
  color: #fff;
}

.main-nav__item::before {
  content: "\2022";
  color: #fff;
}




.main-nav__item--login::before {
  content: none;
  color: #fff;
}
#how-it-works {
  background-color: #fff;
  display: block;
  text-align: center;
}


.row{
  margin-top: 40px;
}
.row::after {
  margin-bottom: 40px;
  content: "";
  display: block;
  clear: both;
}
.col-3 {
  float: left;
  width: 33.3%;
  
  
}
.col-2 {
  float: left;
  width: 50%;
  
}



.icon-box h3 {
  color: #3e4555;
  font-size: 26px;
}
.icon-box i {
  color: green;
}
.features__left{
  
  background:
  linear-gradient(to bottom,rgba(252, 153, 124, 0.2),rgba(250, 81, 30, 0.2)), 
  url("../img/features.jpeg");
  
  background-size: cover;
  background-position: top center;
  
  
}
.features__right{
  background-color: #edf5f7;
  padding: 40px;
  vertical-align: top;
}
.features__right h3{
  font-size: 30px;
}
.features__left,
.features__right {
  height: 400px;
}

.section-title{
  text-align: center;
  margin-bottom: 40px;
  color: #3e4555;
  font-size: 30px;
}
.plan {
  
  text-align: center;
  padding: 5px;
  
  
}



.plan__badge {
  background-color: #fff;
  color: #fc997c;
  padding: 8px;
  border-radius: 5px;
}
.rocommended_plan {
  color: #fff;
  background-color: #396eb0!important;
}
.inner-plan {
  background-color: #edf5f7;
  padding: 25px 10px;
  border-radius: 5px;
  box-shadow: 0px 7px 29px rgba(100, 100, 111, 0.2);
  transition: box-shadow .6s;
}
  .inner-plan:hover{
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.5);
}
.plan__features{
  list-style: none;
  margin: 0;
  padding: 0;
}
.plan--featured{
  position: relative;
  top: -20px;
}
.plan__features li {
  margin: 6px 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.container {
  margin: 0 auto;
  width: 1000px;
}

#backtotop {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
#backtotop i{
  color: #3c8de3;
  font-size: 45px;
  transition: color .6s;

}
#backtotop i:hover{
  color: #fb6537;
  font-size: 45px;
  
}
.counter{
    background: linear-gradient(to bottom, #fc997c 0%, #fc8b69 100%);
    text-align: center;
    padding: 50px;
}
.counter__item{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}
.counter h4{
    margin: 0;
    color: #fff;
}
.card-container{
  padding: 10px;
}
.card{
  background-color: #d9d9d9;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 10px 10px 40px rgba(52,58,64,0.2);
  position: relative;
  top: 0;
  transition: all 0.3s;
}
.card:hover{
  top: -10px;
}
.card-image{
  max-height: 350px;
}
.card-body{
  padding: 30px;
}
/* img-flui'i resimleri responsive yapmak için kullandık bir bootstrap class'ıdır. */
.img-fluid{
  width: 100%;

}
footer{
  background-color: #2e4c6d;
  padding: 30px;
  margin-top: 30px;
  
}
footer a{
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border-radius: 50%;
}
footer a:hover{
  color: #3c8de3;
}
footer ul{
  margin: 0;
  padding: 0;
}
footer ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 5px;
}
#social-links {
  text-align: right;
}

.fab{
  padding: 10px;
  font-size: 25px;

}
.fab:hover{
  opacity: 0.7;
}
.fa-facebook{
  background-color: #3b5998;
  color: white;
}
.fa-twitter{
  background-color: #55acee;
  color: white;
}
.fa-instagram{
  background-color: #125688;
}


      
      
       
          

   