.signup-page{
    padding-top: 20px;
}

.signup-title{
    text-align: center;
    font-size: 30px;
    color: #2e4c6d;
}
.signup-form{
    width: 500px;
    margin: auto;
}
.signup-form label,
 .signup-form input:not([type="checkbox"]),  /* Burada inputlar arasında tipi checkbox olanları alma demiş oluruz */
.signup-form select{
    display: block;
    width: 100%;
    margin-top: 15px;
}

/* (+) selector ile type'ı checkboz olandan sonra gelen ilk label'ı birleştir demiş olduk. */
.signup-form input[type="checkbox"],
.signup-form input[type="checkbox"] + label{
    display: inline-block;
    width: auto;
}
.signup-form button[type="submit"]{
    display: block;
    margin-top: 15px;
}
.signup-form input:not([type="checkbox"]),
.signup-form select{
    border: 1px solid #ccc ;
    padding: 10px 15px;
}

.signup-form input:not([type="checkbox"]):focus,
.signup-form select:focus{
  outline: none;
  background-color: yellow;
  border: 1px solid gray;

}
.signup-form input[type="checkbox"]{
    appearance:none;
   width: 20px;
   height: 20px;
   border: 1px solid #2e4c6d;
   border-radius: 50%;
   vertical-align: bottom;
}

.signup-form input[type="checkbox"]:hover{
    background: gray;
}
.signup-form input[type="checkbox"]:checked{
    background-color: #fc997c;
}